{% extends 'portfolio\base.html' %}
{% load static %}
{% block head %}

    <section id="home">

        <div class="row py-3">
            
            <div class="col-12 col-sm-12 col-md-6 justify-content-center py-3">
                <div class="p-5">
                    <h2 class=" mx-5 custom-font">Hey there,</h2>
                    <h1 class=" mx-5 custom-font xl-font">I'm LENISH</h1>
                    <h5 class=" mx-5 custom-font center">Django developer | Python developer | pyspark developer</h5>
                </div>
                
                <div class="p-5 buttons">
                    <a class="text-reset text-decoration-none" 
                            href="/HTML/projects.html"><button class="m-5">PROJECTS</button></a>
                            <a class="text-reset text-decoration-none"
                            href="/HTML/services.html"><button class="m-5">SERVICES</button></a>
                </div>
                
            </div>
            
            <div class="col-md-12 col-lg-6 col-xl-6 gallery py-3">
                    <img src="https://images.pond5.com/4k-python-word-programming-language-footage-118643513_prevstill.jpeg" alt="primary.jpg">
                    <img src="https://images7.alphacoders.com/122/1228014.png" alt="secondary.jpg">
            </div>

        </div>
    </section>

{% endblock head %}


{% block content %}

    <section id="about">
        <div class="row py-3">
            <h1 class="custom-heading xl-font">About Me</h1>

            <div class="col-md-12 col-lg-6 col-xl-6 gallery py-3 g-0">
                <img src="{% static 'portfolio\IMAGE\img1.jpg' %}" alt="primary.jpg">
                <img src="{% static 'portfolio\IMAGE\img2.jpeg '%}" alt="secondary.jpg">
            </div>

            <div class="col-md-12 col-lg-6 col-xl-6 py-3 g-0">
                <h5 class="mx-5 custom-font">Hello! I'm Lenish K J, a passionate and dedicated Python Developer with a focus on crafting robust solutions using Django and PySpark. With a foundation in Python, I thrive on the challenges of crafting innovative solutions and contributing to meaningful projects.</h5>
                <br>
                <h5 class="mx-5 custom-font">My journey in the world of programming has been a captivating exploration of turning ideas into functional and efficient applications.
                    As a Python enthusiast, I've delved deep into leveraging the versatility of Django for rapid and secure web application development. Working extensively with Django's framework, 
                    I've honed my skills in creating scalable and user-centric platforms that resonate with today's digital landscape.</h5>
                <br>
                <h5 class="mx-5 custom-font">In tandem, my fascination with big data led me to PySpark, where I've discovered the power of distributed computing in handling large datasets. My expertise in PySpark allows me to delve into data transformation and analysis, translating raw data into valuable insights.
                    I thrive in dynamic environments where I can leverage my skills to tackle challenges head-on and make a tangible difference.</h5>
                <br>
                <h5 class="mx-5 custom-font"> I have a strong belief in the value of continuous learning, consistently seeking out new technologies and methodologies to remain at the forefront of web development. This pursuit has broadened my skill set to encompass not only Python, Django, and PySpark but also essential web technologies such as CSS, HTML, and Bootstrap.</h5>
                <br>
                <h5 class="mx-5 custom-font"> Beyond the lines of code, I find immense passion in puzzle-solving, which serves as both a hobby and a creative outlet. Engaging with puzzles not only ignites my curiosity but also nurtures my problem-solving skills in unique ways</h5>
                <br>
                <h5 class="mx-5 custom-font">My goal is to leverage my expertise in Python, Django, and PySpark to engineer innovative solutions that not only meet the needs of today but also pave the way for tomorrow's technological landscape.</h5>
                <br>
                <h5 class="mx-5 custom-font">Let's connect and explore the endless possibilities of tech-powered innovation together!</h5>
            </div>
                
        </div>
    </section>

    <section id="location">
        <div class="row">
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15716.414471054242!2d76.3532959737255!3d10.008299322215617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080b62a7688a1d%3A0xea20f6a86d090450!2sInfopark%20Campus%2C%20Kochi%2C%20Kakkanad%2C%20Kerala%20682030!5e0!3m2!1sen!2sin!4v1695815769456!5m2!1sen!2sin" frameborder="0"
                  style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>

{% endblock content %}